<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<script src="/static/jquery/jquery-3.2.1.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	    <div class="container-fluid">
	    <div class="navbar-header">
	        <a class="navbar-brand" href="#">菜鸟教程</a>
	    </div>
	    <div>
	        <ul class="nav navbar-nav">
	            <li class="active"><a href="#">iOS</a></li>
	            <li><a href="#">SVN</a></li>
	            <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                    Java <b class="caret"></b>
	                </a>
	                <ul class="dropdown-menu">
	                    <li><a href="#">jmeter</a></li>
	                    <li><a href="#">EJB</a></li>
	                    <li><a href="#">Jasper Report</a></li>
	                    <li class="divider"></li>
	                    <li><a href="#">分离的链接</a></li>
	                    <li class="divider"></li>
	                    <li><a href="#">另一个分离的链接</a></li>
	                </ul>
	            </li>
	        </ul>
	    </div>
	    </div>
	</nav>
</div>
<div style="height: 100px;"></div>
<div class="container">
    <div class="row">
    	<div class="col-sm-5">
			<form class="form-horizontal" role="form" id="registerForm" onsubmit="return false" method="post">
				  <div class="form-group">
				    <label for="name" class="col-sm-3 control-label">Name</label>
				    <div class="col-sm-9">
				      <input type="text" class="form-control" name="username" id="username" placeholder="please input name">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="email" class="col-sm-3 control-label">Email</label>
				    <div class="col-sm-9">
				      <input type="text" class="form-control" name="email" id="email" placeholder="please input email">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="phone" class="col-sm-3 control-label">Phone</label>
				    <div class="col-sm-9">
				      <input type="text" class="form-control" name="phone" id="phone" placeholder="please input phone">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="password" class="col-sm-3 control-label">Password</label>
				    <div class="col-sm-9">
				      <input type="text" class="form-control" name="password" id="password" placeholder="please input password">
				    </div>
				  </div>				  
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
						<div class="col-sm-offset-2 col-sm-4">
				     	   <button type="button" id="submit" class="btn btn-info">Sublimt</button>
				        </div>
				    </div>
				  </div>
			</form>
		</div>
		<div class="col-sm-7">
			<div class="col-sm-offset-1 col-sm-11">
				<img src="/static/images/register.jpg" class="img-responsive" alt="Cinque Terre"> 
			</div>
		</div>
	</div>
</div>
<script src="/static/js/register.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$("#submit").on("click", function () {
			var username = $("#username").val();
			var email = $("#email").val();
			var phone = $("#phone").val();
			var password = $("#password").val();
			var reg = new RegisterJS(username, email, phone, password);
			if (username=="") {
				alert("username is null");
				$("#name").focus();
				return;
			}
			if ($("#password").val() == "") {
				alert("user password is null");
				$("#password").focus();
				return;
			}
			var data = {"username":username, "password":password, "email":email, "phone":phone};
  			$.ajax({ 
                url: '/user/register',
                type: 'post',
                data: data,
                success: function(data, status){
                	console.log("status: " + status)
                	console.log("data: " + JSON.stringify(data))
                    if(status == 'success'){
                    	if (data.status=="success") {
                    		alert("user register success!");
                        	location.href ='/user/login';
                    	}else{
                    		alert("user register failed!" + data.detail);
                    		location.href = '/user/register';
                    	}
                    }
                },
                error: function(data, err){
                	alert("error!" + err);
                	console.log("data: " + data)
                    location.href = '/user/register';
                }
            }); 
		});
	})
</script>
</body>
</html>