<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Test Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/sbadmin/css/sb-admin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="/static/sbadmin/css/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/sbadmin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper">
        <% include header.html %> 
        <% if(name =='dashboard') { %>
            <% include dashboard.html %> 
        <% } else if (name == 'charts') { %>
            <% include char.html %>
        <% } else if (name == 'table') { %>
            <% include table.html %>
        <% } else if (name == 'forms') { %>
            <% include forms.html %>
        <% } else if (name == 'elements') { %>
            <% include elements.html %>
        <% } else if (name == 'grid') { %>
            <% include grid.html %>
        <% } else if (name == 'blank') { %>
            <% include blankpage.html %>
        <% } %>
    </div>
    <script src="/static/jquery/jquery-3.2.1.js"></script>
    <script src="/static/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="/static/sbadmin/js/plugins/morris/raphael.min.js"></script>
    <script src="/static/sbadmin/js/plugins/morris/morris.min.js"></script>
    <script src="/static/sbadmin/js/plugins/morris/morris-data.js"></script>
    <!-- Flot Charts JavaScript -->
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
    <script src="/static/sbadmin/js/plugins/flot/jquery.flot.js"></script>
    <script src="/static/sbadmin/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/static/sbadmin/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/static/sbadmin/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="/static/sbadmin/js/plugins/flot/flot-data.js"></script>
</body>

</html>
